<div id=main>
    <app-navbar></app-navbar>
</div>

<div class="container">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-main">
          <div class="discount">9%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p"><img src="Laptop i7.webp" alt="Product Image"></div>
          </div>
          <div class="image">
            <img src="Laptop i7.webp" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href="#"><i class="bi bi-bag"></i></a></li>
              <li><a href="#"><i class="bi bi-heart"></i></a></li>
              <li><a href="#"><i class="bi bi-search"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="">Suspence Laptop Ultra 500 i9</a>
          <div class="rating">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <p><span class="price">R13,999.00</span> <span class="old-price">R17,999.00</span></p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-main">
          <div class="discount">13%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p"><img src="billards table.jpg" alt="Product Image"></div>
          </div>
          <div class="image">
            <img src="billards table.jpg" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href="#"><i class="bi bi-bag"></i></a></li>
              <li><a href="#"><i class="bi bi-heart"></i></a></li>
              <li><a href="#"><i class="bi bi-search"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="">Suspence Billards Pool Table</a>
          <div class="rating">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <p><span class="price">R25,999.00</span> <span class="old-price">R32,000.00</span></p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-main">
          <div class="discount">50%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p"><img src="Microwave.png" alt="Product Image"></div>
          </div>
          <div class="image">
            <img src="Microwave.png" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href="#"><i class="bi bi-bag"></i></a></li>
              <li><a href="#"><i class="bi bi-heart"></i></a></li>
              <li><a href="#"><i class="bi bi-search"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="">Suspence Microwave</a>
          <div class="rating">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <p><span class="price">R13,999.00</span> <span class="old-price">R17,999.00</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style=" bottom: 0; left: 0; width: 100%; z-index: 999;">
    <app-bottom-banner></app-bottom-banner>
</div>