/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Oswald", sans-serif;
}

.error-feedback{
    font-size: 0.9rem;
    color: #9b0404;
    margin: .3rem, !important;
    margin-top: 0.1rem,!important;
}